#timsmith{
    margin: 90px 0px;
}
#timsmith .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}
.timsmith-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}
.timsmith-description{
    color: var(--neutral-grey, #717171);

    /* Body/Medium/Body 2 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */

}
.timsmith-title{
    color: var(--brand-primary, #4CAF4F);

    /* Heading/Headline 4 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */

}
.timsmith-second-description{
    color: var(--neutral-l-grey, #89939E);

    /* Body/Regular/Body 2 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

@media only screen and (max-width: 768px) {
    #timsmith .container{
      flex-direction: column;
      gap: 30px;
    }
    .timsmith-info{
        align-items: center;
        flex-direction: column;
    }
    .image-container{
            display: flex;
            flex-direction: column;
    }
}